@mixin clearlist() {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

@mixin clearfix() {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

@mixin linear-gradient($direction,$from,$to) {
	background-color: $from;
	/* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
	background-image:
	  -webkit-linear-gradient(bottom, $to, $from);
	/* Firefox 3.6 - 15 */
	background-image:
	  -moz-linear-gradient(bottom, $to, $from);
	/* Opera 11.1 - 12 */
	background-image:
	  -o-linear-gradient(bottom, $to, $from);
	/* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
	background-image: linear-gradient(to bottom, $from, $to);
}